{% extends 'main/shablon.html' %}

{% block tittle %}
Biz haqimizda
{% endblock %}

{% block content %}
    <h1 style="color:orange; font-family:courier; text-align:center;">Biz haqimizda</h1>
    <p style="font-family:courier; font-size:160;" class="fs-4 alert alert-primary alert-dismissible fade show" role="alert"><br>Hamidov.A tomonidan yasalgan insonlarga foydali web-ilova.
        <br>
    Bu ilova orqali siz o'z kuningizni onsongina rejalashtirib va har bitta rejalagan ishingizni muvofaqiyatli yakullashingiz mumkin.
    Buning uchun shunchaki ilovani doimiy ravishda ishlatib boring va natijasiga o'zingiz guvohi bo'lishingiz mumkin.
        <br> </p>
{% endblock %}
